<%-include("partials/header")-%>
<h1>Compose</h1>
<form action="/" method="post">
  <label>Title</label><br>
  <input class="form-control" name="Title" type="text">
<textarea name="Message" class="form-control"style="height: 214px; margin-top:20px" contenteditable="true"></textarea>
<button class="btn btn-primary btnpad" type="submit" >Publish</button>
</form>
<%-include("partials/footer")-%>

  




